/*
 * Globals
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Italianno');
/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
	background-image: url('../image/bg3.jpg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color:#252525;
  font-weight: 300;
}

a:hover{
	opacity: 0.8;
}

.btn:hover{
	opacity: 0.8;
}
.cover-container {
	max-width: 55em;
}
/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 500;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.navbar-brand {
  text-decoration: none;
  color: white;
}

.logo img{
  color: white;
  margin-bottom: 15px;

}

.judul-1 {
  padding: 10px;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 15px;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: -99;
  background-color: white;
	
}

/* .fullscreen-bg::before {
  background-color: rgba(17, 4, 4, 0.521);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
} */

/* .warna-video {
  background-color: whitesmoke;
  z-index: -1;
} */

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgb(117, 88, 146);
}

.cpanel{
	list-style: none;
	padding:0;
	text-align: center;
}
.cpanel > li{
	display: inline-block;
}
/* .cpanel > li:nth-child(8n+1){
} */
.cpanel-item{
	text-align: center;
	display: block;
	margin:0 15px -10px;
	position: relative;
}
.cpanel-item:hover{
	z-index: 10;
}
.cpanel-item .icon{
	position: relative;
	width: 80px;
	height: 80px;
	display: block;
}
.cpanel-item .icon img{
	height: 40px;
	width: auto;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.cpanel-item .icon:before{
	content: "";
	display: block;
	width: 80px;
	height: 80px;
	background:rgba(255,255,255,0.2);
	position: absolute;
	top:0;
	left:0;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	border-radius: 30px;
}
.cpanel-item .icon:hover:before{
	background:#c0392b;
	opacity: 1;
}
.cpanel-item .title{
	white-space: nowrap;
	display: inline-block;
	background:#fff;
	color:#333;
	padding:2px 15px;
	border-radius: 20px;
	text-transform: uppercase;
	font-size:11px;
	font-weight: bold;
	position: absolute;
	bottom:0px;
	left:50%;
	transform: translate(-50%,0) scale(0);
	-webkit-transform: translate(-50%,0) scale(0);
	opacity: 0;
	transition: 300ms ease;
	-webkit-transition: 300ms ease;
}
.cpanel-item:hover .title{
	transform: translate(-50%,15px) scale(1);
	-webkit-transform: translate(-50%,15px) scale(1);
	opacity: 1;
}
.cpanel-item .dropdown-menu{
	top:auto;
	bottom:120%;
	left:50%;
	transform: translate(-50%,-30px);
	-webkit-transform: translate(-50%,-30px);
	border:none;
	border-radius: 10px;
	box-shadow: none;
	padding:15px 0;
	background:rgba(255,255,255,0.9);
	display: block!important;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	opacity: 0;
	max-width: 100%;
	min-width: 300px;
	visibility: hidden;
}
.cpanel-item.open .dropdown-menu{
	opacity: 1;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	visibility: visible;
}
.cpanel-item .dropdown-menu:before{
	content: "";
	position: absolute;
	bottom:-20px;
	left:50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	border:10px solid transparent;
	border-top:10px solid rgba(255,255,255,0.9);
}
.cpanel-item .dropdown-menu li.heading{
	background:#c0392b;
	padding:10px 15px;
	margin:-15px 0 0px;
	border-radius: 5px 5px 0 0;
}
.cpanel-item .dropdown-menu li a{
	position: relative;
	padding:10px 15px;
	padding-left: 35px;
}
.cpanel-item .dropdown-menu li:nth-child(even) a{
	background:#ddd;
}
.cpanel-item .dropdown-menu li a:before{
	content: "\f046";
	font-family: "FontAwesome";
	position: absolute;
	top:12px;
	left:15px;
	color:#c0392b;

}

.enter-btn{
	display: inline-block;
	padding:10px 15px;
	border-radius: 50px;
	color:#fff;
	font-weight: bold;
	font-size: 11px;
	z-index: 999;
	background:#c0392b;
	text-decoration: none;
	border:2px solid #fff;
}
.pelengkap-list {
	visibility:hidden;
	width: 0px;
	display: none;
}
.cpanel.colorfull li:nth-child(1n) .icon:before{
	background:#f64747;
}
.cpanel.colorfull li:nth-child(2n) .icon:before{
	background:#f7ca18;
}
.cpanel.colorfull li:nth-child(3n) .icon:before{
	background:#36d7b7;
}
.cpanel.colorfull li:nth-child(4n) .icon:before{
	background:#e74c3c;
}
.cpanel.colorfull li:nth-child(5n) .icon:before{
	background:#f2784b;
}
.cpanel.colorfull li:nth-child(6n) .icon:before{
	background:#34495e;
}
.cpanel.colorfull li:nth-child(7n) .icon:before{
	background:#8e44ad;
}
@media (max-width: 992px){
	
}
@media (max-width: 767px){
	body{
		background: #222 url(../image/kahayan.jpg) fixed no-repeat center;
		background-size: cover;
	}
	#intro-video-container{
		background: none;
		height: auto;
	}
	#intro-video-container:before{
		display: none;
	}
	#intro-video{
		display: none;
	}
	.caption{
		position: relative;
		top:auto;
		left:auto;
		-webkit-transform: none!important;
		transform: none!important;
		width: auto;
		padding:50px;	
	}
	.intro-searchform{
		width: auto;
	}
	.cpanel-item{
		margin:5px;
	}
	.cpanel-item .icon{
		width: auto;
		border:1px solid rgba(255,255,255,0.3);
		position: static;
	}
	.cpanel-item .icon:before{
		transform: rotate(0);
		-webkit-transform: rotate(0);
		display: none;
	}
	.cpanel{
		display: flex;
		flex-wrap:wrap;
		margin:0 -50px;
	}
	.cpanel > li{
		display: block;
		width: 33%;
		position: static;
	}
	.cpanel-item .dropdown-menu{
		position: fixed!important;
		top:auto!important;
		left:0!important;
		right:0!important;
		bottom:0!important;
		width: auto!important;
		-webkit-transform: none!important;
		transform: none!important;
		background: #fff!important;
		float: none!important;
		border-radius: 0;
		transition: 0s linear!important;
	}
	.cpanel-item .dropdown-menu:before{
		display: none!important;
	}
	.logo img{
		width: 100%;
		height: auto;
	}
	
}
.title-mobile {
  visibility:hidden;
  display: none;
}
@media (min-aspect-ratio: 16/9) {
  .bg-video {
      height: 300%;
      top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-video {
      width: 300%;
      left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../image/kahayan.jpg');
    display: none;
  }
	.fullscreen-bg::after {
  background-color: white;
}
  .bg-video {
      display: none;
      background: white;
  }
}
@media (max-width: 500px) {
  .pelengkap-list {
      visibility:visible;
  }
  .perahu{
      visibility:hidden;
      width: 0px;
      display: none;
  }
  .lambung-kapal{
      margin-right: 0px !important;
      padding-right: 15px !important;
  }
  .title-mobile {
      visibility:visible;
      display: block;
      left: 5%;
      color: #fff;
      position: absolute;
      bottom: 0;
      right: 5%;
      font-size: 1.25rem;
      text-transform: uppercase;
  }
  .cpanel-item .icon img {
      top: 30%;
  }
}